.section-1 {
  animation: firstpic 1.5s steps(1) infinite;
}
@keyframes firstpic {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100vw 0;
  }
  100% {
    background-position: 0 0;
  }
}

.zrachok-1 {
  animation: zrachok-1 5s ease infinite;
}
@keyframes zrachok-1 {
  0% {
    transform: translate(50% 0%);
  }
  50% {
    transform: translate(100% 0%);
  }
  100% {
    transform: translate(0% 0%);
  }
}
/* не работает анимация зрачков */

.bear:nth-of-type(1) {
  animation: bearFall1 6s ease 1 forwards;
  left: 20vw;
}
@keyframes bearFall1 {
  0% {
    top: -10vw;
    transform: rotate(0);
  }
  100% {
    top: calc(100% - 10vw);
    transform: rotate(270deg);
  }
}
.bear:nth-of-type(2) {
  animation: bearFall2 6s ease 1 forwards 4s;
  left: 10vw;
}
@keyframes bearFall2 {
  0% {
    top: -10vw;
    transform: rotate(0);
  }
  100% {
    top: calc(100% - 10vw);
    transform: rotate(-500deg);
  }
}
