* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
}
.section-1 {
  display: flex;
  height: 61.7vw;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("../images/firstpic.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 200% 61.7vw;
}
.eyes {
  width: 38vw;
  height: 9.6vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20vw;
}
.eye-1,
.eye-2 {
  width: 9.5vw;
  height: 9.5vw;
  background-color: white;
  border: 0.9vw solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zrachok-1,
.zrachok-2 {
  width: 6.5vw;
  height: 6.5vw;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  margin-top: 0.5vw;
}
.BC {
  font-family: "anastasiascriptc";
  font-style: normal;
  font-weight: 500;
  color: #f20309;
  font-size: 10vw;
  position: absolute;
  justify-content: center;
  margin-top: 33vw;
  margin-left: -5vw;
}
.G {
  font-family: "ABCGintoNord";
  font-style: normal;
  font-weight: 700;
  color: #00544b;
  font-size: 10.5vw;
  position: absolute;
  justify-content: center;
  margin-top: 50vw;
}

.section-2 {
  display: flex;
  align-items: center;
  padding: 2vw 0;
  background-color: #00544b;
}
.photos {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.photos > div {
  width: 23.5vw;
  height: 23.5vw;
  background-size: contain;
}
.photo-1 {
  background-image: url("../images/photo-1.svg");
}
.photo-2 {
  background-image: url("../images/photo-2.svg");
}
.photo-3 {
  background-image: url("../images/photo-3.svg");
}
.circle-container {
  width: calc(100% - 23.5vw);
  position: relative;
  transition: all 5s ease;
}
.circle-container,
.backofcircle,
.circle,
.uno {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backofcircle {
  background-image: url("../images/backofcircle.svg");
  width: 70.3vw;
  height: 70.3vw;
  background-size: contain;
}
.circle {
  background-image: url("../images/circle.svg");
  width: 60vw;
  height: 60vw;
  background-size: contain;
}
.shtuka {
  background-image: url("../images/shtuka.svg");
  background-size: contain;
  width: 4.4vw;
  height: 7.1vw;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 2;
}
.centerofcircle {
  background-image: url("../images/centerofcircle.svg");
  background-size: contain;
  width: 11.7vw;
  height: 11.7vw;
  display: flex;
}

.section-3 {
  display: flex;
  height: 61.7vw;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #e76bc8;
}
.text {
  display: flex;
  height: 61.7vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text > p {
  font-family: "SF-Pro-Display-Black";
  color: #00544b;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 80%;
}
.U {
  font-size: 26vw;
}
.V {
  font-size: 14.4vw;
}
.bears {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.bear {
  background-image: url("../images/bear15.svg");
  background-size: contain;
  width: 12.2vw;
  height: 13vw;
  /* можно увеличить размер мишек, чтобы не устать */
  position: absolute;
  top: -17vw;
  left: 0;
}

.section-4 {
  display: flex;
  height: 56.2vw;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.column-1-row {
  display: flex;
}
.column-1 .halfofcircle {
  background-image: url("../images/halfofcircle.svg");
  width: 19.5vw;
  height: 36.4vw;
}
.oblako {
  background-image: url("../images/oblako.svg");
  background-size: contain;
  width: 39vw;
  height: 36.4vw;
  position: relative;
}
.oblako2 {
  background-image: url("../images/oblako2.svg");
  background-size: contain;
  width: 39vw;
  height: 36.4vw;
  position: absolute;
  opacity: 0;
}
.bstroke {
  width: 58.4vw;
  height: 20.2vw;
  overflow: hidden;
}
.bulavi {
  background-image: url("../images/bulavi.svg");
  background-size: contain;
  width: 300%;
  height: 20.2vw;
  overflow: hidden;
}

.column-2 .uno {
  background-image: url("../images/uno.svg");
  background-size: contain;
  width: 41.3vw;
  height: 56.7vw;
}
.strelki {
  background-image: url("../images/strelki.svg");
  background-size: contain;
  width: 25.2vw;
  height: 30.8vw;
}

.section-5 {
  display: flex;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.podval {
  background-image: url("../images/podval.svg");
  width: 100vw;
  height: 33.2vw;
  background-size: cover;
}
